[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggpackets"]
	path = ggpackets
	url = https://github.com/dgkf/ggpackets
[submodule "options"]
	path = options
	url = https://github.com/dgkf/options
[submodule "parttime"]
	path = parttime
	url = https://github.com/dgkf/parttime
[submodule "testex"]
	path = testex
	url = https://github.com/dgkf/testex
