[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggpackets"]
	path = ggpackets
	url = https://github.com/dgkf/ggpackets
	shallow = true
	registered = true
